* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(idn-lf.github.io/bg.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(108, 191, 132, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  font-weight:bold

}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-left a {
  line-height: 65px;
  font-size: 30px;
  padding: 0 25px;
  color: white;
  font-weight:bold
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #323339;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #0E0B16;
}

.heading h2 {
  font-weight: normal;
  color: #fff;
}
.heading h3 {
  font-weight: bold;
  color: #0E0B16;
}

.lesson {
  float: center;
}

.lesson-icon {
 position: relative;
 float: center;
}

.lesson-icon p {
  position: relative;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 75%;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  color: #0E0B16;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  background-color: #dfe2d2;
  padding: 15px 40px;
  cursor: pointer;
}
  
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

input , textarea {
  width: 400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
  

footer p {
  color: #fff;
  font-size: 12px;
}

footer {
  height: 65px;
  width: 100%;
  background-color: rgba(161, 58, 203, 0.81);
  position :fixed;
  top: 0;
  z-index: 10;
}
